%html
  %head
    - @stylesheets.each do |css|
      = "<link rel=\"stylesheet\" type=\"text/css\" href=\"css/#{css}\" />"
    - @javascripts.each do |js|
      = "<script src=\"js/#{js}\"></script>"
  %body
    .header.section
      %span.title-cont
        %img{src: "images/logo.png"}
      %span.time-cont
    .content.section
      = yield
    .footer.section
      written by 
      %a{href: "https://twitter.com/chedda86"}
        @chedda86
